In [35]:
from pymysql import connect
from pymysql.cursors import DictCursor

class ConnectionDB:
    def __init__(self):
        self.connection = connect(
            host='localhost',
            user='root',
            password='anh1710gdt',
            db='qlsv',
            charset='utf8mb4',
            cursorclass=DictCursor)
        
    def close(self):
        self.connection.close()

    def save(self):
        self.connection.commit()

    def rollback(self):
        self.connection.rollback()

    def get_cursor(self):
        return self.connection.cursor()
    
    def get_connection(self):
        return self.connection
    
    def create_table(self, table_name, fields):
        cursor = self.get_cursor()
        cursor.execute(f'''
            CREATE TABLE IF NOT EXISTS {table_name} (
                {fields}
            )
            ''')
        self.save()

In [3]:
db = ConnectionDB()
cursor = db.get_cursor()
db.create_table('khoa', '''
    id int primary key auto_increment,
    ma_khoa varchar(255) not null unique,
    name varchar(255) not null,
    created_at timestamp default current_timestamp
''')

db.create_table('nganh', '''
    id int primary key auto_increment,
    ma_nganh varchar(255) not null unique,
    name varchar(255) not null,
    created_at timestamp default current_timestamp,
    ma_khoa varchar(255) not null references khoa(ma_khoa)
''')

db.create_table('lop', '''
    id int primary key auto_increment,
    ma_lop varchar(255) not null unique,
    name varchar(255) not null,
    khoahoc varchar(50) not null,
    hedaotao varchar(50) not null,
    namhoc int not null,
    created_at timestamp default current_timestamp,
    ma_nganh varchar(255) not null references nganh(ma_nganh)
''')

db.create_table('sinhvien', '''
    id int primary key auto_increment,
    ma_sinhvien varchar(255) not null unique,
    name varchar(255) not null,
    gender boolean not null,
    brithday date not null,
    address varchar(255) not null,
    ma_lop varchar(255) not null references lop(ma_lop),
    created_at timestamp default current_timestamp
''')

db.create_table('hocphan', '''
    id int primary key auto_increment,
    ma_hocphan varchar(255) not null unique,
    name varchar(255) not null,
    sotinchi int not null,
    ma_nganh varchar(255) not null references nganh(ma_nganh),
    hocky int not null,
    created_at timestamp default current_timestamp
''')

db.create_table('diem', '''
    id int primary key auto_increment,
    diem float not null,
    ma_sinhvien varchar(255) not null references sinhvien(ma_sinhvien),
    ma_hocphan varchar(255) not null references hocphan(ma_hocphan),
    created_at timestamp default current_timestamp
''')
db.close()

In [7]:
# db = ConnectionDB()

# cursor = db.get_cursor()
# cursor.execute('insert into khoa(ma_khoa, name) values("CNTT", "Công nghệ thông tin")')
# cursor.execute('insert into khoa(ma_khoa, name) values("KT", "Kinh tế")')
# cursor.execute('insert into khoa(ma_khoa, name) values("NN", "Ngoại ngữ")')
# cursor.execute('insert into khoa(ma_khoa, name) values("DL", "Du lịch")')

# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("CNTT1", "Công nghệ thông tin 1", "CNTT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("CNTT2", "Công nghệ thông tin 2", "CNTT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("KT1", "Kinh tế 1", "KT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("KT2", "Kinh tế 2", "KT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("NN1", "Ngoại ngữ 1", "NN")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("NN2", "Ngoại ngữ 2", "NN")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("DL1", "Du lịch 1", "DL")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("DL2", "Du lịch 2", "DL")')

# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D20CNTT01", "Công nghệ thông tin 1", "D20", "Đại học", 2018, "CNTT1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D20CNTT02", "Công nghệ thông tin 2", "D20", "Đại học", 2018, "CNTT2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D19KT01", "Kinh tế 1", "D19", "Đại học", 2017, "KT1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D19KT02", "Kinh tế 2", "D19", "Đại học", 2017, "KT2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D18NN01", "Ngoại ngữ 1", "D18", "Đại học", 2016, "NN1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D18NN02", "Ngoại ngữ 2", "D18", "Đại học", 2016, "NN2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D17DL01", "Du lịch 1", "D17", "Đại học", 2015, "DL1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D17DL02", "Du lịch 2", "D17", "Đại học", 2015, "DL2")')

# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN001", "Nguyễn Văn A", 1, "2000-01-01", "Hà Nội", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN002", "Nguyễn Văn B", 1, "2000-01-02", "Hà Nội", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN003", "Nguyễn Văn C", 1, "2000-01-03", "Hai Phong", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN004", "Nguyễn Văn D", 0, "2000-01-04", "Hà Nội", "D20CNTT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN005", "Nguyễn Văn E", 1, "2000-01-05", "Hà Nội", "D20CNTT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCKT006", "Nguyễn Văn F", 1, "2000-01-05", "Thai Binh", "D19KT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCKT007", "Nguyễn Văn G", 0, "2000-01-05", "Hà Nội", "D19KT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCNN008", "Nguyễn Văn H", 1, "2000-01-05", "Nghe An", "D18NN01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCNN009", "Nguyễn Văn I", 0, "2000-01-05", "Hà Nội", "D18NN02")')

# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT001", "Cấu trúc dữ liệu và giải thuật", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT002", "Lập trình hướng đối tượng", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT003", "Cơ sở dữ liệu", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT004", "Lập trình web", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT005", "Hệ điều hành", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT006", "Mạng máy tính", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT007", "An toàn thông tin", 3, "KT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT008", "Kinh tế học", 3, "KT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT009", "Quản trị kinh doanh", 3, "KT2", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT010", "Tiếng Anh", 3, "NN1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT011", "Tiếng Trung", 3, "NN2", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT012", "Du lịch", 3, "DL1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT013", "Lịch sử", 3, "DL2", 1)')

# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT001")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT002")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT003")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT004")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT005")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT006")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT007")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT008")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT009")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT010")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT011")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT012")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT013")')

# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN002", "CTT001")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN002", "CTT002")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN002", "CTT003")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN002", "CTT004")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN002", "CTT005")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN003", "CTT006")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN003", "CTT007")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN003", "CTT008")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN003", "CTT009")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(2, "B20DCCN003", "CTT010")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(3, "B20DCCN004", "CTT011")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(5, "B20DCCN004", "CTT012")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(4, "B20DCCN004", "CTT013")')

# db.save()
# db.close()

In [3]:
class ShowTable():
    def __init__(self, db) -> None:
        self.db = db
        self.cursor = self.db.get_cursor()

    def show_table(self, table_name):
        self.cursor.execute(f'select * from {table_name}')
        return self.cursor.fetchall()
db = ConnectionDB()
show = ShowTable(db)
khoa = show.show_table('khoa')
nganh = show.show_table('nganh')
lop = show.show_table('lop')
sinhvien = show.show_table('sinhvien')
print(khoa)
print(nganh)
print(lop)
print(sinhvien)
db.close()

[{'id': 1, 'ma_khoa': 'CNTT', 'name': 'Công nghệ thông tin', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 2, 'ma_khoa': 'KT', 'name': 'Kinh tế', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 3, 'ma_khoa': 'NN', 'name': 'Ngoại ngữ', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 4, 'ma_khoa': 'DL', 'name': 'Du lịch', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}]
[{'id': 1, 'ma_nganh': 'CNTT1', 'name': 'Công nghệ thông tin 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'CNTT'}, {'id': 2, 'ma_nganh': 'CNTT2', 'name': 'Công nghệ thông tin 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'CNTT'}, {'id': 3, 'ma_nganh': 'KT1', 'name': 'Kinh tế 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'KT'}, {'id': 4, 'ma_nganh': 'KT2', 'name': 'Kinh tế 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'KT'}, {'id': 5, 'ma_nganh': 'NN1', 'name': 'Ngoại ngữ 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'NN'}, {'id': 6, 'ma_nganh': 'NN2', 'name': 'Ngoại ngữ 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'NN'}, {'id': 7, 'ma_nganh': 'DL1', 'name': 'Du lịch 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'DL'}, {'id': 8, 'ma_nganh': 'DL2', 'name': 'Du lịch 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'DL'}]
[{'id': 1, 'ma_lop': 'D20CNTT01', 'name': 'Công nghệ thông tin 1', 'khoahoc': 'D20', 'hedaotao': 'Đại học', 'namhoc': 2018, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'CNTT1'}, {'id': 2, 'ma_lop': 'D20CNTT02', 'name': 'Công nghệ thông tin 2', 'khoahoc': 'D20', 'hedaotao': 'Đại học', 'namhoc': 2018, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'CNTT2'}, {'id': 3, 'ma_lop': 'D19KT01', 'name': 'Kinh tế 1', 'khoahoc': 'D19', 'hedaotao': 'Đại học', 'namhoc': 2017, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'KT1'}, {'id': 4, 'ma_lop': 'D19KT02', 'name': 'Kinh tế 2', 'khoahoc': 'D19', 'hedaotao': 'Đại học', 'namhoc': 2017, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'KT2'}, {'id': 5, 'ma_lop': 'D18NN01', 'name': 'Ngoại ngữ 1', 'khoahoc': 'D18', 'hedaotao': 'Đại học', 'namhoc': 2016, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'NN1'}, {'id': 6, 'ma_lop': 'D18NN02', 'name': 'Ngoại ngữ 2', 'khoahoc': 'D18', 'hedaotao': 'Đại học', 'namhoc': 2016, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'NN2'}, {'id': 7, 'ma_lop': 'D17DL01', 'name': 'Du lịch 1', 'khoahoc': 'D17', 'hedaotao': 'Đại học', 'namhoc': 2015, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'DL1'}, {'id': 8, 'ma_lop': 'D17DL02', 'name': 'Du lịch 2', 'khoahoc': 'D17', 'hedaotao': 'Đại học', 'namhoc': 2015, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'DL2'}]
[{'id': 1, 'ma_sinhvien': 'B20DCCN001', 'name': 'Nguyễn Văn A', 'gender': 1, 'brithday': datetime.date(2000, 1, 1), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 2, 'ma_sinhvien': 'B20DCCN002', 'name': 'Nguyễn Văn B', 'gender': 1, 'brithday': datetime.date(2000, 1, 2), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 3, 'ma_sinhvien': 'B20DCCN003', 'name': 'Nguyễn Văn C', 'gender': 1, 'brithday': datetime.date(2000, 1, 3), 'address': 'Hai Phong', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 4, 'ma_sinhvien': 'B20DCCN004', 'name': 'Nguyễn Văn D', 'gender': 0, 'brithday': datetime.date(2000, 1, 4), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 5, 'ma_sinhvien': 'B20DCCN005', 'name': 'Nguyễn Văn E', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 6, 'ma_sinhvien': 'B20DCKT006', 'name': 'Nguyễn Văn F', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Thai Binh', 'ma_lop': 'D19KT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 7, 'ma_sinhvien': 'B20DCKT007', 'name': 'Nguyễn Văn G', 'gender': 0, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D19KT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 8, 'ma_sinhvien': 'B20DCNN008', 'name': 'Nguyễn Văn H', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Nghe An', 'ma_lop': 'D18NN01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 9, 'ma_sinhvien': 'B20DCNN009', 'name': 'Nguyễn Văn I', 'gender': 0, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D18NN02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}]

In [ ]:
from datetime import datetime
db=ConnectionDB()
cursor = db.get_cursor()
# cursor.execute("""
#     SELECT 
#         ma_sinhvien AS MaSV, 
#         name, 
#         CASE gender 
#             WHEN 1 THEN 'Nam' 
#             ELSE 'Nu' 
#         END AS GioiTinh, 
#         DATE_FORMAT(brithday, '%d/%m/%Y') AS NgaySinh,
#         ma_lop AS MaLop,
#         YEAR(brithday) AS NamSinh 
#     FROM sinhvien
#     where name not like 'A%' and name not like '%A' and name not like 'B%'
# """)

# cursor.execute("""
#     select ma_sinhvien as maSV, name,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     Date_format(brithday, '%d/%m/%Y') as NgaySinh,
#     ma_lop as MaLop,
#     Year(brithday) as NamSinh
#     from sinhvien
#     where gender = 1 and ma_lop = 'D20CNTT01'                
# """)

# cursor.execute("""
#     select ma_sinhvien as maSV, name,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     date_format(brithday, '%d/%m/%Y') as NgaySinh,
#     ma_lop as MaLop,
#     year(brithday) as NamSinh
#     from sinhvien
#     where ma_lop not in ('D20CNTT01', 'D20CNTT02')
# """)

cursor.execute("""
    select id, ma_sinhvien as maSV, name,
    case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
    date_format(brithday, '%d/%m/%Y') as NgaySinh,
    ma_lop as MaLop,
    year(brithday) as NamSinh,
    year(curdate())-year(brithday) as Tuoi
    from sinhvien
    where year(brithday) = 2000 and year(curdate())-year(brithday) between 10 and 30
    order by name desc, brithday asc    
    limit 5 offset 2  
""")
# dem = 5
# table = []
# ketqua = []
# for i in range(2, len(table)):
#     if dem == 0:
#         break
#     if year(i.brithday) == 2000 and 10 <= year(curdate())-year(i.brithday) <= 30:
#         ketqua.append(i)
#         dem -= 1
# ketqua.sort(key = lambda x: (x['name'], x['brithday']))

sinhvien = cursor.fetchall()
for sv in sinhvien:
    # for key, value in sv.items():
    #     print(f'{key}: {value} - {type(value)}')
    print("-----------------")
    print(sv)
db.close()

In [7]:
db = ConnectionDB()
cursor = db.get_cursor()
# show nhung sinh vien co diem >= 5
# cursor.execute("""
#     select sinhvien.ma_sinhvien as MaSV, name as TenSV, ma_lop as MaLop, diem as DiemHP, ma_hocphan as MaHP,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     date_format(brithday, '%d-%m-%Y') as NgaySinh,
#     year(curdate())-year(brithday) as Tuoi
#     from sinhvien
#     inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
#     where diem >= 5
# """)

# show 3 sinh vien co diem cao nhat cua hoc ky 1
# cursor.execute("""
#     select sinhvien.ma_sinhvien as MaSV, sinhvien.name as TenSV, diem as DiemHP, diem.ma_hocphan as MaHP, 
#     sotinchi as TinChi, hocky as HK
#     from sinhvien
#     inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
#     inner join hocphan on hocphan.ma_hocphan = diem.ma_hocphan
#     where hocky = 1
#     order by diem.diem desc
#     limit 3
# """)

# show 3 sinh vien co diem cao nhat cua hoc ky 1 cua khoa cntt
cursor.execute("""
    select sinhvien.ma_sinhvien as MaSv, sinhvien.name as TenSV, sinhvien.ma_lop as MaLop, 
    diem.diem as DiemHP, nganh.ma_khoa as MaKhoa, diem.ma_hocphan as TenHP, hocphan.hocky as HocKy
    from sinhvien
    inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
    inner join hocphan on diem.ma_hocphan = hocphan.ma_hocphan
    inner join lop on lop.ma_lop = sinhvien.ma_lop
    inner join nganh on lop.ma_nganh = nganh.ma_nganh
    where hocphan.hocky = 1 and nganh.ma_khoa = 'cntt'
    order by diem.diem desc
    limit 3
""")
sinhvien = cursor.fetchall()
for sv in sinhvien:
    # for key, value in sv.items():
    #     print(f'{key}: {value} - {type(value)}')
    print("-----------------")
    print(sv)
db.close()

-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT003', 'TinChi': 3, 'HK': 1}
-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT009', 'TinChi': 3, 'HK': 1}
-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT012', 'TinChi': 3, 'HK': 1}

In [ ]:
class SinhVien():
    def __init__(self, id, name, age, address, gender, created_at, lop_id):
        self.id = id
        self.name = name
        self.age = age
        self.address = address
        self.gender = gender
        self.created_at = created_at
        self.lop_id = lop_id

In [36]:
db = ConnectionDB()
cursor = db.get_cursor()
cursor.execute('explain analyze select * from diem')
res = cursor.fetchall()
print(res)

[{'EXPLAIN': '-> Table scan on diem  (cost=11.85 rows=116) (actual time=0.141..0.202 rows=116 loops=1)\n'}]

In [ ]:
# cursor.execute('create index idx_diem on diem(diem)')
# cursor.execute('create index idx_masv_diem on diem(ma_sinhvien, diem)')
# cursor.execute('create index idx_mahp_diem on diem(ma_hocphan, diem)')
# cursor.execute('create index idx_masv_mahp on diem(ma_sinhvien, ma_hocphan)')
cursor.execute('show index from diem')
res = cursor.fetchall()
for r in res:
    print(r)

In [ ]:
# delete index
# cursor.execute('alter table diem drop index idx_diem')
# unactive index
# cursor.execute('alter table diem alter index idx_masv_diem invisible')
# active index
# cursor.execute('alter table diem alter index idx_masv_diem visible')
# rename index
# cursor.execute('alter table diem rename index idx_masv_diem to idx_masv_diem_new')
# db.save()

In [ ]:
for i in range(10000):
    cursor.execute('select * from diem where id = %s;', (i,))
    # db.save()
# db.close()

In [57]:
batch_size = 1000
ids = list(range(1000))

for i in range(0, len(ids), batch_size):
    batch_ids = ids[i:i + batch_size]
    format_strings = ','.join(['%s'] * len(batch_ids))
    cursor.execute(f'SELECT * FROM diem WHERE id IN ({format_strings})', batch_ids)
    print(len(cursor.fetchall()))

# ids = list(range(1000))
# format_strings = ','.join(['%s'] * len(ids))
# cursor.execute(f'SELECT * FROM diem WHERE id IN ({format_strings})', ids)

116

116

In [ ]:
# partitions demo
cursor.execute("""alter table diem 
               partition by range(id) (
                     partition p0 values less than (1000),
                     partition p1 values less than (2000),
                     partition p2 values less than (3000),
                     partition p3 values less than (4000),
                     partition p4 values less than (5000),
                     partition p5 values less than (6000),
                     partition p6 values less than (7000),
                     partition p7 values less than (8000),
                     partition p8 values less than (9000),
                     partition p9 values less than (10000)
                )""")

In [ ]:
# Để tối ưu hóa hiệu suất của câu lệnh SELECT trong vòng lặp khi truy vấn nhiều lần từ cùng một bảng trong MySQL, bạn có thể áp dụng các kỹ thuật sau:

# 1. Sử Dụng IN Để Giảm Số Lần Truy Vấn
# Thay vì thực hiện 1000 truy vấn riêng biệt, bạn có thể thực hiện một truy vấn duy nhất sử dụng IN để tìm tất cả các giá trị của id cùng một lúc. Điều này giúp giảm chi phí overhead của việc thiết lập nhiều kết nối cơ sở dữ liệu.

# Ví Dụ
# Dưới đây là một ví dụ về cách sử dụng IN và batching để tối ưu hóa truy vấn trong Python:
# batch_size = 100
# ids = range(1000)

# for i in range(0, len(ids), batch_size):
#     batch_ids = ids[i:i + batch_size]
#     format_strings = ','.join(['%s'] * len(batch_ids))
#     cursor.execute(f'SELECT * FROM diem WHERE id IN ({format_strings})', batch_ids)
#     results = cursor.fetchall()
#     for row in results:
#         print(row)  # hoặc xử lý kết quả ở đây


# 2. Tối Ưu Hóa Chỉ Mục (Indexes)
# Đảm bảo rằng cột id có chỉ mục. Chỉ mục giúp tăng tốc độ tìm kiếm trên cột id.
# Tạo Chỉ Mục

# CREATE INDEX idx_id ON diem(id);


# 3. Sử Dụng Phân Vùng (Partitioning)
# Nếu bảng của bạn rất lớn, việc phân vùng bảng dựa trên cột id có thể giúp tăng tốc độ truy vấn bằng cách chỉ quét các phân vùng cần thiết.

# Ví Dụ Phân Vùng
# ALTER TABLE diem
# PARTITION BY RANGE (id) (
#     PARTITION p0 VALUES LESS THAN (1000),
#     PARTITION p1 VALUES LESS THAN (2000),
#     PARTITION p2 VALUES LESS THAN (3000),
#     ...
#     PARTITION pN VALUES LESS THAN MAXVALUE
# );
# Lưu Ý: Phân vùng chỉ hoạt động trên MySQL Enterprise Edition.


# 4. Tối Ưu Hóa Bộ Nhớ Đệm Truy Vấn (Query Cache)
# Nếu truy vấn của bạn lặp lại nhiều lần và cơ sở dữ liệu của bạn cho phép, bạn có thể tận dụng bộ nhớ đệm truy vấn để cải thiện hiệu suất.

# Bật Bộ Nhớ Đệm Truy Vấn
# SET GLOBAL query_cache_size = 16777216; -- 16 MB for example
# SET GLOBAL query_cache_type = ON;
# Lưu Ý: Bộ nhớ đệm truy vấn có thể không phù hợp cho mọi trường hợp sử dụng và có thể cần được cấu hình tùy chỉnh để đạt hiệu suất tốt nhất.


# 5. Sử Dụng JOIN Thay Vì Nhiều Truy Vấn (Nếu Phù Hợp)
# Nếu bạn cần dữ liệu từ nhiều bảng, việc sử dụng JOIN có thể hiệu quả hơn so với việc thực hiện nhiều truy vấn riêng biệt.

# Lợi Ích
# Giảm Overhead Kết Nối: Giảm số lần thiết lập kết nối và ngắt kết nối với cơ sở dữ liệu.
# Hiệu Quả Hơn: Sử dụng chỉ mục và truy vấn gộp giúp cải thiện hiệu suất đáng kể.

In [ ]:
# ### **Phân Vùng (Partitioning) trong MySQL**

# **Phân vùng (Partitioning)** là kỹ thuật chia một bảng lớn thành nhiều phần nhỏ hơn (phân vùng), giúp quản lý và truy vấn dữ liệu một cách hiệu quả hơn. Mỗi phân vùng hoạt động như một bảng riêng biệt trong một bảng tổng thể, nhưng người dùng vẫn có thể truy vấn dữ liệu từ toàn bộ bảng như bình thường.

# #### **Hoạt Động Của Phân Vùng**

# Phân vùng dữ liệu dựa trên một cột hoặc một biểu thức xác định. Mỗi phân vùng chứa một phạm vi dữ liệu khác nhau. Khi bạn thực hiện truy vấn, MySQL chỉ quét các phân vùng liên quan, thay vì toàn bộ bảng, giúp tăng tốc độ truy vấn.

# ##### **Các Loại Phân Vùng**

# 1. **Phân Vùng Theo Phạm Vi (Range Partitioning):**
#    - Chia dữ liệu thành các phạm vi cụ thể dựa trên một cột (thường là số hoặc ngày).
#    - Ví dụ: Dữ liệu đơn hàng phân vùng theo năm hoặc tháng.

#    ```sql
#    CREATE TABLE orders (
#        order_id INT,
#        order_date DATE,
#        customer_id INT,
#        amount DECIMAL(10, 2)
#    )
#    PARTITION BY RANGE (YEAR(order_date)) (
#        PARTITION p0 VALUES LESS THAN (2023),
#        PARTITION p1 VALUES LESS THAN (2024),
#        PARTITION p2 VALUES LESS THAN MAXVALUE
#    );
#    ```

# 2. **Phân Vùng Theo Danh Sách (List Partitioning):**
#    - Chia dữ liệu theo một tập hợp các giá trị cụ thể.
#    - Ví dụ: Phân vùng khách hàng theo quốc gia.

#    ```sql
#    CREATE TABLE customers (
#        customer_id INT,
#        country VARCHAR(50),
#        name VARCHAR(100)
#    )
#    PARTITION BY LIST (country) (
#        PARTITION usa VALUES IN ('USA'),
#        PARTITION canada VALUES IN ('Canada'),
#        PARTITION other VALUES IN ('Mexico', 'Brazil')
#    );
#    ```

# 3. **Phân Vùng Theo Băm (Hash Partitioning):**
#    - Sử dụng hàm băm để phân phối dữ liệu đồng đều giữa các phân vùng.
#    - Ví dụ: Phân vùng dựa trên `customer_id`.

#    ```sql
#    CREATE TABLE transactions (
#        trans_id INT,
#        customer_id INT,
#        amount DECIMAL(10, 2)
#    )
#    PARTITION BY HASH (customer_id) PARTITIONS 4;
#    ```

# 4. **Phân Vùng Theo Key (Key Partitioning):**
#    - Tương tự như băm nhưng sử dụng một hàm hash đặc thù của MySQL cho các cột được chỉ định.

#    ```sql
#    CREATE TABLE logs (
#        log_id INT,
#        user_id INT,
#        log_message TEXT
#    )
#    PARTITION BY KEY(user_id) PARTITIONS 3;
#    ```

# 5. **Phân Vùng Tổng Hợp (Composite Partitioning):**
#    - Kết hợp nhiều loại phân vùng (ví dụ: Range và Hash) để quản lý dữ liệu phức tạp.

#    ```sql
#    CREATE TABLE sales (
#        sale_id INT,
#        sale_date DATE,
#        product_id INT
#    )
#    PARTITION BY RANGE (YEAR(sale_date))
#    SUBPARTITION BY HASH (product_id) SUBPARTITIONS 4 (
#        PARTITION p0 VALUES LESS THAN (2023),
#        PARTITION p1 VALUES LESS THAN (2024)
#    );
#    ```

# #### **Khi Nào Sử Dụng Phân Vùng**

# Phân vùng nên được sử dụng trong các trường hợp sau:

# - **Dữ Liệu Lớn:** Khi bảng có hàng triệu hoặc hàng tỷ bản ghi.
# - **Truy Vấn Theo Phạm Vi:** Khi các truy vấn thường xuyên tập trung vào một phạm vi cụ thể của dữ liệu.
# - **Quản Lý Dữ Liệu Dễ Dàng:** Khi cần xóa, lưu trữ, hoặc sao lưu các phần dữ liệu cụ thể một cách dễ dàng.
# - **Cải Thiện Hiệu Năng:** Khi cần cải thiện hiệu suất truy vấn và quản lý dữ liệu.

# #### **Ưu Điểm**

# 1. **Tăng Tốc Truy Vấn:** Chỉ quét các phân vùng cần thiết thay vì toàn bộ bảng, giảm thời gian truy vấn.
# 2. **Quản Lý Dữ Liệu Hiệu Quả:** Xóa, lưu trữ, và sao lưu từng phân vùng dễ dàng hơn.
# 3. **Dễ Dàng Mở Rộng:** Quản lý khối lượng dữ liệu lớn bằng cách thêm phân vùng mà không ảnh hưởng đến các phân vùng khác.
# 4. **Cân Bằng Tải:** Phân phối dữ liệu đồng đều có thể giúp cân bằng tải giữa các phân vùng.

# #### **Nhược Điểm**

# 1. **Phức Tạp:** Cấu hình và quản lý phân vùng phức tạp hơn so với bảng thông thường.
# 2. **Giới Hạn:** Không phải tất cả các loại phân vùng đều hỗ trợ mọi loại dữ liệu và chỉ số.
# 3. **Giảm Hiệu Suất Trong Một Số Trường Hợp:** Nếu không phân vùng đúng cách, hiệu suất có thể kém hơn so với không phân vùng.
# 4. **Bảo Trì:** Cần bảo trì thêm khi thêm, xóa hoặc điều chỉnh phân vùng.

# ### **Ví Dụ Cụ Thể**

# Dưới đây là một ví dụ thực tế về phân vùng theo phạm vi cho bảng `sales`:

# ```sql
# CREATE TABLE sales (
#     sale_id INT,
#     sale_date DATE,
#     product_id INT,
#     amount DECIMAL(10, 2)
# )
# PARTITION BY RANGE (YEAR(sale_date)) (
#     PARTITION p0 VALUES LESS THAN (2023),
#     PARTITION p1 VALUES LESS THAN (2024),
#     PARTITION p2 VALUES LESS THAN MAXVALUE
# );
# ```

# Trong ví dụ này:
# - **p0** chứa các bản ghi có `sale_date` trước năm 2023.
# - **p1** chứa các bản ghi có `sale_date` trong năm 2023.
# - **p2** chứa các bản ghi có `sale_date` từ năm 2024 trở đi.

# ### **Tổng Kết**

# Phân vùng là một kỹ thuật mạnh mẽ để quản lý và tối ưu hóa truy vấn trên các bảng lớn trong MySQL. Nó giúp cải thiện hiệu suất truy vấn, dễ dàng quản lý dữ liệu, và hỗ trợ xử lý khối lượng dữ liệu lớn. Tuy nhiên, nó cũng có những phức tạp và hạn chế mà người dùng cần cân nhắc khi triển khai.

In [ ]:
# Để đánh giá và thực hiện phân vùng (partitioning) hiệu quả trong MySQL, bạn cần một quy trình hệ thống và chiến lược cụ thể. Dưới đây là một hướng dẫn chi tiết để quyết định trường nào nên được phân vùng và làm thế nào để triển khai phân vùng một cách hiệu quả.

# ### **Quy Trình Đánh Giá và Thực Hiện Phân Vùng**

# 1. **Phân Tích Dữ Liệu và Truy Vấn**
#    - **Xem xét kích thước bảng:** Xác định bảng nào lớn và có khả năng tiếp tục tăng trưởng lớn hơn trong tương lai.
#    - **Đánh giá truy vấn:** Phân tích các mẫu truy vấn phổ biến, xem truy vấn nào thường xuyên quét toàn bộ bảng hoặc phạm vi lớn.
#    - **Tìm kiếm các vấn đề hiện tại:** Xem có những vấn đề gì về hiệu suất hiện tại như thời gian phản hồi chậm hoặc việc quản lý dữ liệu phức tạp.

# 2. **Xác Định Cột Để Phân Vùng**
#    - **Chọn cột thường dùng trong truy vấn:** Ưu tiên các cột thường xuyên xuất hiện trong các điều kiện WHERE.
#    - **Chọn cột có phạm vi giá trị:** Cột có phạm vi giá trị như ngày tháng hoặc số thường phù hợp để phân vùng theo phạm vi (Range).
#    - **Chọn cột có giá trị phân loại:** Các cột với giá trị phân loại có thể phù hợp cho phân vùng theo danh sách (List).

# 3. **Chọn Loại Phân Vùng**
#    - **Phân Vùng Theo Phạm Vi (Range):** Dữ liệu có thể được phân chia thành các khoảng cố định, thường được sử dụng cho cột thời gian hoặc số.
#    - **Phân Vùng Theo Danh Sách (List):** Dữ liệu có thể được phân chia theo các giá trị cụ thể, phù hợp cho các cột phân loại như quốc gia hoặc trạng thái.
#    - **Phân Vùng Theo Băm (Hash):** Dữ liệu được phân phối đều dựa trên một cột, phù hợp cho cột có giá trị duy nhất như `id`.
#    - **Phân Vùng Theo Key:** Tương tự như Hash nhưng sử dụng một hàm hash nội bộ của MySQL.
#    - **Phân Vùng Tổng Hợp (Composite):** Kết hợp các loại phân vùng để xử lý các trường hợp phức tạp.

# 4. **Thiết Kế Phân Vùng**
#    - **Xác định kích thước phân vùng:** Đảm bảo mỗi phân vùng không quá nhỏ (gây overhead) hoặc quá lớn (giảm lợi ích của phân vùng).
#    - **Xác định phạm vi hoặc giá trị cho phân vùng:** Xác định khoảng thời gian hoặc tập giá trị cụ thể cho từng phân vùng.

# 5. **Thực Hiện Phân Vùng**
#    - **Tạo bảng với phân vùng:** Sử dụng cú pháp SQL để tạo bảng với phân vùng.
#    - **Chuyển dữ liệu:** Chuyển dữ liệu từ bảng cũ vào bảng mới có phân vùng. Bạn có thể sử dụng câu lệnh INSERT hoặc công cụ ETL nếu cần.

# #### **Ví Dụ Thực Hiện**

# **Phân Vùng Bảng `sales` Theo Phạm Vi (Range Partitioning) Theo Năm:**

# ```sql
# CREATE TABLE sales (
#     sale_id INT,
#     sale_date DATE,
#     product_id INT,
#     amount DECIMAL(10, 2)
# )
# PARTITION BY RANGE (YEAR(sale_date)) (
#     PARTITION p0 VALUES LESS THAN (2023),
#     PARTITION p1 VALUES LESS THAN (2024),
#     PARTITION p2 VALUES LESS THAN MAXVALUE
# );
# ```

# ### **Chiến Lược Đánh Giá Phân Vùng**

# 1. **Đánh Giá Lợi Ích Hiệu Suất**
#    - **Kiểm tra các chỉ số:** Sử dụng `EXPLAIN` để kiểm tra hiệu suất truy vấn trước và sau khi phân vùng.
#    - **Theo dõi thời gian thực hiện:** Theo dõi thời gian thực hiện truy vấn và so sánh sự cải thiện.

# 2. **Đánh Giá Quản Lý Dữ Liệu**
#    - **Kiểm tra việc bảo trì dữ liệu:** Đánh giá sự dễ dàng trong việc xóa, sao lưu, và khôi phục dữ liệu trong các phân vùng.
#    - **Kiểm tra quản lý tăng trưởng:** Đảm bảo rằng dữ liệu mới được thêm vào đúng phân vùng mà không cần can thiệp thủ công nhiều.

# 3. **Đánh Giá Chi Phí**
#    - **Kiểm tra chi phí lưu trữ:** Đảm bảo phân vùng không làm tăng chi phí lưu trữ không cần thiết.
#    - **Đánh giá chi phí bảo trì:** Đánh giá chi phí bảo trì và phức tạp hóa việc quản lý bảng.

# ### **Ưu và Nhược Điểm Của Phân Vùng**

# #### **Ưu Điểm**

# 1. **Tăng Tốc Độ Truy Vấn:**
#    - Truy vấn chỉ quét phân vùng cần thiết, giảm thời gian truy vấn đáng kể.
# 2. **Quản Lý Dữ Liệu Dễ Dàng:**
#    - Dễ dàng xóa hoặc lưu trữ từng phân vùng mà không ảnh hưởng đến phần còn lại của bảng.
# 3. **Cải Thiện Tính Sẵn Sàng:**
#    - Phân vùng giúp dễ dàng phân phối dữ liệu trên nhiều máy chủ hoặc phân vùng để cải thiện tính sẵn sàng.

# #### **Nhược Điểm**

# 1. **Tăng Phức Tạp Quản Lý:**
#    - Cấu hình và bảo trì phân vùng có thể phức tạp hơn, đòi hỏi kiến thức và kỹ năng nâng cao.
# 2. **Giới Hạn Về Chỉ Mục:**
#    - Một số loại chỉ mục không thể được sử dụng trực tiếp trên phân vùng, điều này có thể ảnh hưởng đến hiệu suất.
# 3. **Hiệu Suất Không Đồng Nhất:**
#    - Nếu phân vùng không cân bằng, một số phân vùng có thể trở nên rất lớn, làm giảm lợi ích của phân vùng.

# ### **Tổng Kết**

# Phân vùng là một công cụ mạnh mẽ để quản lý và tối ưu hóa hiệu suất của các bảng lớn trong MySQL. Tuy nhiên, việc thực hiện phân vùng cần một chiến lược rõ ràng và cẩn thận để đảm bảo rằng lợi ích về hiệu suất và quản lý dữ liệu vượt trội hơn chi phí và phức tạp của phân vùng. Việc phân tích kỹ lưỡng dữ liệu và mẫu truy vấn hiện tại sẽ giúp đưa ra quyết định tốt nhất về việc phân vùng cột nào và sử dụng loại phân vùng nào.

In [ ]:
# ### **Tối Ưu Hóa Chỉ Mục (Indexes) trong MySQL**

# **Chỉ mục (Indexes)** là các cấu trúc dữ liệu đặc biệt được sử dụng trong cơ sở dữ liệu để tăng tốc độ truy vấn. Chúng hoạt động như bảng tra cứu giúp MySQL tìm kiếm và truy xuất dữ liệu nhanh hơn mà không cần quét toàn bộ bảng.

# #### **Hoạt Động Của Chỉ Mục**

# 1. **Cấu Trúc Chỉ Mục:**
#    - Chỉ mục thường được triển khai dưới dạng cây B+ (B+ tree) hoặc cấu trúc khác như cây R (R-tree) hoặc bảng băm (hash table), tùy thuộc vào loại chỉ mục và hệ quản trị cơ sở dữ liệu (DBMS).
#    - Trong cây B+, các nút lá chứa các khóa sắp xếp và con trỏ tới bản ghi thực tế trong bảng.

# 2. **Truy Vấn Với Chỉ Mục:**
#    - Khi bạn thực hiện một truy vấn, MySQL sử dụng chỉ mục để nhanh chóng xác định vị trí bản ghi thay vì quét toàn bộ bảng.
#    - Ví dụ: Nếu bạn tìm kiếm `id = 5` trong một bảng có chỉ mục trên `id`, MySQL có thể trực tiếp nhảy đến bản ghi có `id = 5` mà không cần kiểm tra từng bản ghi.

# 3. **Cập Nhật Chỉ Mục:**
#    - Khi dữ liệu trong bảng thay đổi (INSERT, UPDATE, DELETE), chỉ mục cũng phải được cập nhật để phản ánh các thay đổi này.
#    - Điều này có thể làm tăng chi phí của các thao tác ghi nhưng lại tăng tốc độ các thao tác đọc.

# #### **Khi Nào Sử Dụng Chỉ Mục**

# 1. **Truy Vấn Lọc Dữ Liệu:**
#    - **WHERE Clause:** Khi các truy vấn thường xuyên sử dụng cột cụ thể trong điều kiện WHERE.
#    - **Joins:** Khi các truy vấn thường kết hợp các bảng dựa trên một cột cụ thể.

# 2. **Truy Vấn Sắp Xếp:**
#    - **ORDER BY:** Khi các truy vấn cần sắp xếp kết quả theo cột cụ thể.

# 3. **Truy Vấn Tập Hợp:**
#    - **GROUP BY:** Khi các truy vấn nhóm dữ liệu dựa trên một hoặc nhiều cột.

# 4. **Truy Vấn Với Các Giá Trị Duy Nhất:**
#    - **PRIMARY KEY:** Chỉ mục thường được sử dụng trên cột khóa chính để đảm bảo tính duy nhất và tăng tốc độ truy vấn.

# #### **Loại Chỉ Mục**

# 1. **Chỉ Mục B-tree (B-tree Index):**
#    - Loại chỉ mục phổ biến nhất trong MySQL, phù hợp cho các hoạt động tìm kiếm, phạm vi, và sắp xếp.

#    ```sql
#    CREATE INDEX idx_customer_name ON customers(name);
#    ```

# 2. **Chỉ Mục UNIQUE (Unique Index):**
#    - Đảm bảo rằng tất cả các giá trị trong cột chỉ mục là duy nhất.

#    ```sql
#    CREATE UNIQUE INDEX idx_email ON users(email);
#    ```

# 3. **Chỉ Mục Toàn Văn (Full-text Index):**
#    - Sử dụng để tìm kiếm văn bản trong các cột văn bản.

#    ```sql
#    CREATE FULLTEXT INDEX idx_content ON articles(content);
#    ```

# 4. **Chỉ Mục Không Cụm (Non-clustered Index):**
#    - Một bản sao của dữ liệu được lưu trữ trong chỉ mục, và chỉ mục chứa con trỏ đến vị trí dữ liệu thực trong bảng.

#    ```sql
#    CREATE INDEX idx_order_date ON orders(order_date);
#    ```

# 5. **Chỉ Mục Cụm (Clustered Index):**
#    - Tổ chức dữ liệu trong bảng theo cách sắp xếp của chỉ mục. Chỉ có thể có một chỉ mục cụm cho mỗi bảng.

#    ```sql
#    CREATE CLUSTERED INDEX idx_clustered ON transactions(transaction_id);
#    ```

# 6. **Chỉ Mục Không Gian (Spatial Index):**
#    - Dùng cho các loại dữ liệu hình học.

#    ```sql
#    CREATE SPATIAL INDEX idx_geom ON geom_table(geom_column);
#    ```

# #### **Ưu Điểm Của Chỉ Mục**

# 1. **Tăng Tốc Độ Truy Vấn:**
#    - Giảm đáng kể thời gian truy vấn bằng cách cho phép MySQL tìm kiếm trực tiếp trong chỉ mục thay vì quét toàn bộ bảng.

# 2. **Cải Thiện Hiệu Suất Lọc và Sắp Xếp:**
#    - Các truy vấn có điều kiện WHERE, ORDER BY, và GROUP BY sẽ nhanh hơn khi sử dụng các cột có chỉ mục.

# 3. **Đảm Bảo Tính Duy Nhất:**
#    - Chỉ mục UNIQUE giúp đảm bảo rằng các giá trị trong cột là duy nhất, hỗ trợ các ràng buộc khóa chính và khóa ứng viên.

# 4. **Hỗ Trợ Tìm Kiếm Toàn Văn:**
#    - Tăng tốc độ tìm kiếm văn bản và hỗ trợ các truy vấn tìm kiếm phức tạp.

# #### **Nhược Điểm Của Chỉ Mục**

# 1. **Tăng Chi Phí Ghi:**
#    - Các thao tác ghi (INSERT, UPDATE, DELETE) có thể chậm hơn do chỉ mục cần được cập nhật mỗi khi dữ liệu thay đổi.

# 2. **Chiếm Dung Lượng Lưu Trữ:**
#    - Chỉ mục chiếm thêm không gian lưu trữ, có thể trở nên tốn kém với các bảng lớn.

# 3. **Tối Ưu Hóa Không Chính Xác:**
#    - Nếu không được tối ưu hóa đúng cách, chỉ mục có thể không mang lại lợi ích và thậm chí có thể làm giảm hiệu suất.

# 4. **Quản Lý Phức Tạp:**
#    - Yêu cầu sự hiểu biết chi tiết về cách cơ sở dữ liệu và truy vấn hoạt động để duy trì và tối ưu hóa chỉ mục hiệu quả.

# ### **Ví Dụ Thực Hiện Chỉ Mục**

# **Tạo Chỉ Mục Trên Cột `customer_name` Trong Bảng `customers`:**

# ```sql
# CREATE INDEX idx_customer_name ON customers(customer_name);
# ```

# **Tạo Chỉ Mục UNIQUE Trên Cột `email` Trong Bảng `users`:**

# ```sql
# CREATE UNIQUE INDEX idx_email ON users(email);
# ```

# ### **Khi Nào Không Sử Dụng Chỉ Mục**

# 1. **Bảng Nhỏ:**
#    - Trên các bảng nhỏ, việc quét toàn bộ bảng có thể nhanh hơn sử dụng chỉ mục.

# 2. **Tần Suất Ghi Cao:**
#    - Khi bảng có nhiều thao tác ghi, chỉ mục có thể làm chậm hệ thống.

# 3. **Cột Với Ít Sự Phân Biệt:**
#    - Tránh chỉ mục trên các cột có ít giá trị khác nhau (ví dụ: cột giới tính với chỉ hai giá trị).

# 4. **Dữ Liệu Không Được Truy Vấn Thường Xuyên:**
#    - Không cần chỉ mục cho các cột không được truy vấn thường xuyên.

# ### **Tổng Kết**

# Chỉ mục là công cụ quan trọng để tối ưu hóa hiệu suất truy vấn trong MySQL, giúp tăng tốc độ tìm kiếm và cải thiện hiệu suất cho các thao tác đọc. Tuy nhiên, việc sử dụng chỉ mục cần được quản lý cẩn thận để tránh tăng chi phí ghi và sử dụng dung lượng không cần thiết. Việc thiết kế và duy trì chỉ mục hiệu quả đòi hỏi sự cân nhắc kỹ lưỡng dựa trên mẫu truy vấn, kích thước bảng, và yêu cầu hiệu suất cụ thể.

In [ ]:
# Để đánh giá và thực hiện chỉ mục (indexes) một cách hiệu quả trong MySQL, cần có một chiến lược và quy trình có hệ thống. Dưới đây là các bước và phương pháp để quyết định khi nào cần chỉ mục, cách tạo chỉ mục, và tối ưu hóa chúng.

# ### **Quy Trình Đánh Giá và Thực Hiện Chỉ Mục**

# #### **1. Phân Tích Dữ Liệu và Truy Vấn**

# **Mục tiêu:** Xác định các cột nào trong bảng cần chỉ mục để tối ưu hóa hiệu suất truy vấn.

# - **Phân tích truy vấn phổ biến:**
#   - Sử dụng các công cụ như `EXPLAIN` để hiểu cách MySQL thực hiện truy vấn.
#   - Xác định các cột nào thường xuất hiện trong các điều kiện `WHERE`, `JOIN`, `ORDER BY`, và `GROUP BY`.

# - **Xác định các truy vấn chậm:**
#   - Kiểm tra các truy vấn có thời gian thực thi lâu.
#   - Sử dụng công cụ `slow query log` của MySQL để theo dõi các truy vấn chậm.

# - **Đánh giá tần suất truy vấn:**
#   - Tìm kiếm các truy vấn thường xuyên chạy để tập trung tối ưu hóa.

# #### **2. Xác Định Các Cột Cần Chỉ Mục**

# **Mục tiêu:** Lựa chọn các cột sẽ được lập chỉ mục dựa trên phân tích truy vấn.

# - **Cột trong điều kiện WHERE:**
#   - Thêm chỉ mục vào các cột thường được sử dụng trong các điều kiện lọc `WHERE`.

# - **Cột trong JOIN:**
#   - Thêm chỉ mục vào các cột được sử dụng trong các câu lệnh `JOIN` để tăng tốc độ kết hợp bảng.

# - **Cột trong ORDER BY và GROUP BY:**
#   - Thêm chỉ mục vào các cột được sử dụng trong các câu lệnh `ORDER BY` và `GROUP BY` để tối ưu hóa sắp xếp và nhóm dữ liệu.

# - **Cột với giá trị phân biệt:**
#   - Ưu tiên các cột có nhiều giá trị phân biệt, tránh chỉ mục trên các cột với ít giá trị phân biệt (ví dụ: cột boolean).

# #### **3. Chọn Loại Chỉ Mục Thích Hợp**

# **Mục tiêu:** Chọn loại chỉ mục phù hợp dựa trên nhu cầu và loại truy vấn.

# - **Chỉ mục B-tree (B-tree Index):**
#   - Thường được sử dụng cho các truy vấn tìm kiếm, phạm vi, và sắp xếp.

#   ```sql
#   CREATE INDEX idx_colname ON tablename(colname);
#   ```

# - **Chỉ mục UNIQUE (Unique Index):**
#   - Đảm bảo tính duy nhất của các giá trị trong cột.

#   ```sql
#   CREATE UNIQUE INDEX idx_unique_colname ON tablename(colname);
#   ```

# - **Chỉ mục toàn văn (Full-text Index):**
#   - Tối ưu hóa cho tìm kiếm văn bản.

#   ```sql
#   CREATE FULLTEXT INDEX idx_fulltext_colname ON tablename(colname);
#   ```

# - **Chỉ mục không gian (Spatial Index):**
#   - Sử dụng cho các loại dữ liệu hình học.

#   ```sql
#   CREATE SPATIAL INDEX idx_geom ON geom_table(geom_column);
#   ```

# - **Chỉ mục với cột kết hợp (Composite Index):**
#   - Thêm chỉ mục trên nhiều cột để tối ưu hóa truy vấn sử dụng nhiều điều kiện.

#   ```sql
#   CREATE INDEX idx_combination ON tablename(col1, col2);
#   ```

# #### **4. Thiết Kế và Thực Hiện Chỉ Mục**

# **Mục tiêu:** Tạo chỉ mục với cấu trúc phù hợp để tối ưu hóa truy vấn.

# - **Tạo chỉ mục:**
#   - Sử dụng câu lệnh SQL để tạo chỉ mục.

#   ```sql
#   CREATE INDEX idx_name ON tablename(column_name);
#   ```

# - **Kiểm tra chỉ mục:**
#   - Sử dụng `EXPLAIN` để kiểm tra hiệu quả của chỉ mục trên các truy vấn.

#   ```sql
#   EXPLAIN SELECT * FROM tablename WHERE column_name = 'value';
#   ```

# - **Theo dõi và tối ưu hóa:**
#   - Theo dõi hiệu suất truy vấn sau khi thêm chỉ mục, và tối ưu hóa nếu cần.

# #### **5. Đánh Giá Hiệu Suất và Điều Chỉnh**

# **Mục tiêu:** Đảm bảo chỉ mục mang lại hiệu suất tối ưu và điều chỉnh khi cần.

# - **Đánh giá chi phí ghi:**
#   - Theo dõi chi phí cập nhật chỉ mục khi thêm, xóa, hoặc cập nhật bản ghi.

# - **Kiểm tra không gian lưu trữ:**
#   - Đảm bảo chỉ mục không sử dụng quá nhiều dung lượng lưu trữ.

# - **Điều chỉnh hoặc xóa chỉ mục không cần thiết:**
#   - Xóa các chỉ mục không còn cần thiết hoặc không hiệu quả.

#   ```sql
#   DROP INDEX idx_name ON tablename;
#   ```

# #### **6. Bảo Trì và Theo Dõi**

# **Mục tiêu:** Duy trì chỉ mục để đảm bảo hiệu suất lâu dài.

# - **Thực hiện bảo trì chỉ mục:**
#   - Thường xuyên thực hiện `ANALYZE TABLE` để cập nhật thống kê cho các chỉ mục.

#   ```sql
#   ANALYZE TABLE tablename;
#   ```

# - **Theo dõi hiệu suất định kỳ:**
#   - Theo dõi hiệu suất truy vấn định kỳ và điều chỉnh chỉ mục nếu cần.

# ### **Chiến Lược Đánh Giá Chỉ Mục**

# #### **1. Sử Dụng Các Công Cụ Giám Sát**

# - **EXPLAIN:**
#   - Phân tích cách MySQL thực hiện truy vấn và kiểm tra xem chỉ mục có được sử dụng hay không.

#   ```sql
#   EXPLAIN SELECT * FROM orders WHERE customer_id = 123;
#   ```

# - **Slow Query Log:**
#   - Ghi lại các truy vấn chậm để xác định các truy vấn cần tối ưu hóa.

#   ```sql
#   SET GLOBAL slow_query_log = 'ON';
#   SET GLOBAL long_query_time = 2;  -- Log queries longer than 2 seconds
#   ```

# - **Performance Schema:**
#   - Sử dụng Performance Schema để theo dõi hoạt động và hiệu suất của các chỉ mục.

# #### **2. Đánh Giá Tần Suất và Khối Lượng Dữ Liệu**

# - **Kiểm tra tần suất truy vấn:**
#   - Ưu tiên tối ưu hóa các chỉ mục cho các truy vấn thường xuyên chạy.

# - **Đánh giá kích thước bảng:**
#   - Xem xét kích thước bảng và số lượng bản ghi để quyết định mức độ ưu tiên cho việc lập chỉ mục.

# #### **3. Đánh Giá Chi Phí Chỉ Mục**

# - **Kiểm tra chi phí ghi:**
#   - Đảm bảo rằng chỉ mục không làm giảm hiệu suất ghi một cách không đáng kể.

# - **Theo dõi dung lượng lưu trữ:**
#   - Đảm bảo chỉ mục không chiếm quá nhiều không gian lưu trữ, đặc biệt với các bảng lớn.

# #### **4. Điều Chỉnh và Tối Ưu Hóa**

# - **Điều chỉnh chỉ mục:**
#   - Điều chỉnh cấu trúc chỉ mục dựa trên phân tích và giám sát.

# - **Tối ưu hóa truy vấn:**
#   - Kết hợp tối ưu hóa truy vấn với chỉ mục để đạt hiệu suất tốt nhất.

# ### **Ví Dụ Thực Tế**

# **Tạo Chỉ Mục Trên Cột `order_date` Trong Bảng `orders`:**

# ```sql
# CREATE INDEX idx_order_date ON orders(order_date);
# ```

# **Phân Tích Truy Vấn Sử Dụng Chỉ Mục:**

# ```sql
# EXPLAIN SELECT * FROM orders WHERE order_date = '2024-06-15';
# ```

# **Xóa Chỉ Mục Không Cần Thiết:**

# ```sql
# DROP INDEX idx_order_date ON orders;
# ```

# ### **Tổng Kết**

# Việc tối ưu hóa chỉ mục trong MySQL là một quy trình liên tục và đòi hỏi sự phân tích kỹ lưỡng các truy vấn, dữ liệu, và hiệu suất hệ thống. Quy trình đánh giá và thực hiện chỉ mục cần phải linh hoạt và dựa trên nhu cầu thực tế của ứng dụng và khối lượng dữ liệu. Bằng cách sử dụng các công cụ và chiến lược phù hợp, bạn có thể đạt được hiệu suất truy vấn tối ưu và quản lý cơ sở dữ liệu hiệu quả hơn.